
/venv
/src/debugmate.egg-info
/debugmate/__pycache__
/src/debugmate_python.egg-info
/debugmate/context/__pycache__
/debugmate/django/__pycache__
/debugmate/handlers/__pycache__
.DS_Store
debugmate/.DS_Store
.idea
/tests/__pycache__
/dist
/debugmate.egg-info
/build